---
# Only the main Sass file needs front matter (the dashes are enough)
---

@import "minima";

// Custom header sizes to make h1 and h2 more distinguishable
h1.post-title {
    font-size: 3rem;
}

h1 {
    font-size: 2.5rem;
}

h2 {
    font-size: 1.8rem;
}

h3 {
    font-size: 1.4rem;
}

h4 {
    font-size: 1.2rem;
}

h5 {
    font-size: 1.1rem;
}

h6 {
    font-size: 1rem;
}
